@model MachiningTechelperMVC.Application.ViewModels.User.UserDetailsVm

<h2>Użytkownik: @Model.User.UserName</h2>

<h3>Dodane role:</h3>
<ul>
    @foreach (var role in Model.Roles)
    {
        <li class="margin-top">
            @role
            <form asp-action="RemoveRole" asp-route-id="@Model.User.Id" asp-route-role="@role" method="post" style="display:inline;">
                <button type="submit" class="btn btn-primary btn-sm">Usuń</button>
            </form>
        </li>
    }
</ul>

<h3>Przypisz nową rolę:</h3>
<form asp-action="AssignRole" asp-route-id="@Model.User.Id">
    <select asp-for="SelectedRole" asp-items="new SelectList(Model.AllRoles)">
        <option value="">Rola</option>
    </select>
    <button type="submit" class="btn btn-primary btn-sm">Przypisz rolę</button>
</form>

<a asp-action="Users" class="btn btn-primary margin-top">Wróć do listy użytkowników</a>
