@model MachiningTechelperMVC.Application.ViewModels.MillingToolCheckedParameters.MillingToolCheckedParametersVm

@{
    ViewData["Title"] = "AddMillingToolCheckedParameters";
}

<h1>Dodaj sprawdzone parametry</h1>
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddMillingToolCheckedParameters">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input asp-for="Id" type="hidden" />
            </div>
            <div class="form-group">
                <label asp-for="Material" class="control-label"></label>
                <input asp-for="Material" class="form-control" />
                <span asp-validation-for="Material" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RevisionsPerMinute" class="control-label"></label>
                <input asp-for="RevisionsPerMinute" class="form-control" />
                <span asp-validation-for="RevisionsPerMinute" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FeedPerMinute" class="control-label"></label>
                <input asp-for="FeedPerMinute" class="form-control" />
                <span asp-validation-for="FeedPerMinute" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Comment" class="control-label"></label>
                <input asp-for="Comment" class="form-control" />
                <span asp-validation-for="Comment" class="text-danger"></span>
                <div class="form-group">
                    <input asp-for="MillingToolId" type="hidden" />
                </div>
                <div class="form-group">
                    <input type="submit" value="Dodaj" class="btn btn-primary" />
                </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Wróć</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

