@model MachiningTechelperMVC.Application.ViewModels.SimpleCalculator.SimpleCalculatorVm

<div class="text-center">
<h2>Prosty kalkulator parametrów</h2>
</div>
<div class="custom-width">
<form method="post">
    <div class="form-check">
        <input asp-for="IsMilling" class="form-check-input" type="radio" value="true" />
        <label class="form-check-label">Frezowanie</label>
    </div>
    <div class="form-check">
        <input asp-for="IsMilling" class="form-check-input" type="radio" value="false" />
        <label class="form-check-label">Wiercenie</label>
    </div>
    <div class="form-group">
        <label>Średnica narzędzia mm:</label>
        <input asp-for="Diameter" class="form-control" />
    </div>
    <div class="form-group">
        <label>Vc m/min:</label>
        <input asp-for="CuttingSpeed" class="form-control" />
    </div>
    <div class="form-group">
        <label>fz mm/z:</label>
        <input asp-for="FeedPerTooth" class="form-control" />
    </div>
    <div class="form-group">
        <label>fn mm/obr:</label>
        <input asp-for="FeedPerRevolution" class="form-control" />
    </div>
    <div class="form-group">
        <label>Z:</label>
        <input asp-for="Teeth" class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary margin-top">Oblicz</button>
</form>
</div>

@section Scripts {
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var millingRadio = document.querySelector('input[value="true"]');
            var drillingRadio = document.querySelector('input[value="false"]');
            var feedPerToothInput = document.querySelector('input[name="FeedPerTooth"]');
            var feedPerRevolutionInput = document.querySelector('input[name="FeedPerRevolution"]');
            var teethInput = document.querySelector('input[name="Teeth"]');

            millingRadio.addEventListener('change', function () {
                feedPerRevolutionInput.disabled = this.checked;
                feedPerToothInput.disabled = !this.checked;
                teethInput.disabled = !this.checked;
            });

            drillingRadio.addEventListener('change', function () {
                feedPerRevolutionInput.disabled = !this.checked;
                feedPerToothInput.disabled = this.checked;
                teethInput.disabled = this.checked;
            });
        });
    </script>
}