@model MachiningTechelperMVC.Application.ViewModels.CostEstimation.CostEstimationVm
@using MachiningTechelperMVC.Application.ViewModels.CostEstimation

<div class="text-center">
<h2>Kalkulator kosztów obróbki</h2>
</div>

<form method="post">
    <div class="row">
        <div class="col-md-4 form-group">
            <label>Grupa maszyn:</label>
        </div>
        <div class="col-md-4 form-group">
            <label>TPZ (min):</label>
        </div>
        <div class="col-md-4 form-group">
            <label>TJ (min):</label>
        </div>
    </div>

    @for (int i = 0; i < 10; i++)
    {
        <div class="row margin-top">
            <div class="col-md-4 form-group">
                <select name="MachineTypes[@i]" class="form-control" asp-items="@(new SelectList(MachineCostsConfig.MachineCosts.Keys))">
                    <option value="">maszyna</option>
                </select>
            </div>
            <div class="col-md-4 form-group">
                <input type="number" name="TPZTimes[@i]" class="form-control" />
            </div>
            <div class="col-md-4 form-group">
                <input type="number" name="TJTimes[@i]" class="form-control" />
            </div>
        </div>
    }
    <button type="submit" class="btn btn-primary margin-top">Oblicz</button>
</form>
