@model MachiningTechelperMVC.Application.ViewModels.CostEstimation.CostEstimationVm
@using MachiningTechelperMVC.Application.ViewModels.CostEstimation

<h2>Cost Estimation</h2>

<form method="post">
    @for (int i = 0; i < 10; i++)
    {
        <div class="form-group">
            <label>Machine Type:</label>
            <select name="MachineTypes[@i]" class="form-control" asp-items="@(new SelectList(MachineCostsConfig.MachineCosts.Keys))">
                <option value="">Select Machine Type</option>
            </select>
        </div>
        <div class="form-group">
            <label>TPZ Time (minutes):</label>
            <input type="number" name="TPZTimes[@i]" class="form-control" />
        </div>
        <div class="form-group">
            <label>TJ Time (minutes):</label>
            <input type="number" name="TJTimes[@i]" class="form-control" />
        </div>
    }
    <button type="submit" class="btn btn-primary">Calculate</button>
</form>
