@model MachiningTechelperMVC.Application.ViewModels.CostEstimation.CostEstimationVm

<h2>Wynik obliczeń kosztów obróbki</h2>

@if (Model != null)
{
    <p>Całkowity koszt czasów TPZ: @Model.TotalTPZCost</p>
    <p>Całkowity koszt czasów TJ: @Model.TotalTJCost</p>
}
else
{
    <p>Brak wyniku do wyświetlenia</p>
}

<a asp-action="Index" class="btn btn-primary">Wróć do kalkulatora</a>