@model MachiningTechHelperMVC.Application.ViewModels.Drill.NewDrillVm

@{
    ViewData["Title"] = "AddDrill";
}

<h1>AddDrill</h1>
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddDrill">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input type="hidden" asp-for="Id" />
            </div>
            <div class="form-group">
                <label asp-for="Diameter" class="control-label"></label>
                <input asp-for="Diameter" class="form-control" />
                <span asp-validation-for="Diameter" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Designation" class="control-label"></label>
                <input asp-for="Designation" class="form-control" />
                <span asp-validation-for="Designation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ToolType" class="control-label"></label>
                @Html.DropDownListFor(m => m.ToolType, Model.ToolTypes, "Select a Tool Type", new { @class = "form-control" })
                <span asp-validation-for="ToolType" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <input type="hidden" asp-for="IsToolActive" value="true" />
            </div>
            <div class="form-group">
                <label asp-for="LengthXDiameter" class="control-label"></label>
                <input asp-for="LengthXDiameter" class="form-control" />
                <span asp-validation-for="LengthXDiameter" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TipAngle" class="control-label"></label>
                <input asp-for="TipAngle" class="form-control" />
                <span asp-validation-for="TipAngle" class="text-danger"></span>
            </div>

            <!-- Input field for new producer -->
            <div class="form-group">
                <label>Producent</label>
                <input type="text" asp-for="NewProducer.CompanyName" class="form-control" />
                <span asp-validation-for="NewProducer.CompanyName" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Dodaj" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Wróć do listy</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}