@model MachiningTechHelperMVC.Application.ViewModels.Drill.NewDrillVm

@{
    ViewData["Title"] = "EditDrill";
}

<h1>EditDrill</h1>

<h4>NewDrillVm</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditDrill">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input type="hidden" asp-for="Id" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Diameter" class="control-label"></label>
                <input asp-for="Diameter" class="form-control" />
                <span asp-validation-for="Diameter" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Designation" class="control-label"></label>
                <input asp-for="Designation" class="form-control" />
                <span asp-validation-for="Designation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ToolType" class="control-label"></label>
                <select asp-for="ToolType" asp-items="ViewBag.ToolTypeList" class="form-control"></select>
                <span asp-validation-for="ToolType" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <input type="hidden" asp-for="IsToolActive" value="true" />
            </div>
            <div class="form-group">
                <label asp-for="LengthXDiameter" class="control-label"></label>
                <input asp-for="LengthXDiameter" class="form-control" />
                <span asp-validation-for="LengthXDiameter" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TipAngle" class="control-label"></label>
                <input asp-for="TipAngle" class="form-control" />
                <span asp-validation-for="TipAngle" class="text-danger"></span>
            </div>

            <!-- Input field for producer -->
            <div class="form-group">
                <label asp-for="NewProducer.CompanyName" class="control-label"></label>
                <input asp-for="NewProducer.CompanyName" class="form-control" />
                <span asp-validation-for="NewProducer.CompanyName" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}